body {
    background: #DCDCDC;
}

header {
    background-color: black;
    margin: 0px;
    padding: 5px;
    color:#FF00FF;
    font-size: 1.2em;
}

nav a:link{
    text-decoration: none;
    color: #FF00FF;
}

nav a:hover{
    text-decoration: underline;
    color: #FF00FF;
}

nav a:visited{
    text-decoration: none;
    color: #FF00FF;
}

.wrap {
    text-align: center;
    background: lavender;
    margin-left: 4em;
    margin-right: 4em;
    font-size: 1.5em;
}

img {
    width: 7em;
    height: 5em;
}

.container {
    display: flex;
    
    flex-flow: row wrap;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.grid > div {
    background: violet;
    padding: 1em;
    border-radius: 1rem;
    font-size: 1.5em;
}

.grid > div:nth-child(odd){
    background: #FF00FF;
}